<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'cadastro' %}" method="POST" >{% csrf_token%}
        <p>Nome de usuário:</p>
        <input type="text" name="username" id="" >
        <br>
        <p>Email:</p>
        <input type="email" name="email" id="">
        <br>
        <p>Senha:</p>
        <input type="password" name="password" id="">
        <br>
        <p>Nome:</p>
        <input type="text" name="first_name" id="">
        <br>
        <p>Sobrenome:</p>
        <input type="text" name="last_name" id="">
        <input type="submit" value="cadastrar">
        <br>
    </form>
</body>
</html>